[Desktop Entry]
Type=Application
Name=Arch Linux Security Update Notifications
Comment=Display your current patch status
Exec=/bin/sh -c "sleep 5 && exec /usr/bin/arch-audit-gtk"
